.presentationWrapper {
	display: flex;
	justify-content: space-between;
	gap: 2rem;
}

.logoWrapper {
	width: 20%;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	margin: 1rem 1rem 3rem 1rem;
}

.mainInfoWrapper {
	width: 70%;
}

.buttonWrapper {
	margin-top: 10px; /* Ajusta el margen según sea necesario */
	display: flex;
	gap: 1rem;
}

.cvButtonLuz {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 10px;
	cursor: pointer;
	border: none;

	/* Transición para el cambio de color al pasar el cursor */
	transition: background-color 0.3s ease;
}

.cvButton {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	cursor: pointer;
	border: none;

	/* Transición para el cambio de color al pasar el cursor */
	transition: background-color 0.3s ease;

	background-color: white;
	color: black;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cvButtonLuz {
	background-image: url('../../assets/luz.svg'); /* Ajusta la ruta según sea necesario */
	width: 45px;
	height: 45px;
	border-radius: 50%;
	cursor: pointer;
	border: none;
	transition: background-color 0.3s ease;
	color: black;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Cambia el color al pasar el cursor por encima */
.cvButton:hover,
.cvButtonLuz:hover {
	background-color: palevioletred; /* Cambia el color a rosa al pasar el cursor */
}

.title {
	display: flex;
	justify-content: space-between;
}
