.presentationWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logoWrapper {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: center;
}

.mainInfoWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
	align-items: center;
	padding: 0.5rem 2rem;
}

.buttonWrapper {
	display: flex;
	gap: 1rem;
	z-index: 10;
}

.buttonLuz {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 10px;
	cursor: pointer;
	border: none;

	/* Transición para el cambio de color al pasar el cursor */
	transition: background-color 0.3s ease;
}

.cvButton {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	cursor: pointer;
	border: none;

	/* Transición para el cambio de color al pasar el cursor */
	transition: background-color 0.3s ease;

	background-color: white;
	color: black;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.buttonLuz {
	background-image: url('../../assets/luz.svg'); /* Ajusta la ruta según sea necesario */
	width: 45px;
	height: 45px;
	border-radius: 50%;
	cursor: pointer;
	border: none;
	transition: background-color 0.3s ease;
	color: black;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Cambia el color al pasar el cursor por encima */
.cvButton:hover,
.buttonLuz:hover {
	background-color: palevioletred; /* Cambia el color a rosa al pasar el cursor */
}

.title {
	display: flex;
	justify-content: space-between;
}

.topSection {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	margin-bottom: -4rem;
}

.titleMarginTop {
	margin-top: 1rem;
	font-size: 2rem;
}

.emailColor {
	color: palevioletred;
	text-decoration: none; /* Elimina cualquier subrayado inicial */
	transition: color 0.3s ease; /* Agrega una transición para suavizar el cambio de color */
}

.emailColor:hover {
	color: #ff9900; /* Cambia el color al pasar el cursor por encima */
	text-decoration: underline; /* Subraya el texto al pasar el cursor por encima */
}
@media (max-width: 768px) {
	.topSection {
		margin-bottom: 0;
	}
}
