.project {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
	
}

.imgProjectWrapper {
	padding: 0.5rem 2rem;
	margin: 1rem 0;
}

.imgProject{
	transition: all 0.3s ease;
}

.imgProject:hover {
	transform: translateX(9px);
}

.infoProject {
	padding: 0.5rem 2rem;
	margin: 1rem 0;
	width: 35%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.textProjects {
	text-align: center;
}

.iconosProjects {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
	justify-content: center;
}

.imgProject {
	object-fit: contain;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	max-width: 32rem;
	cursor: pointer;
}

.color {
	color: #f59e0b;
}

.projectWrapper {
	display: flex;
	padding: 0.5rem 3.5rem;
}

.mainProjectWrapper {
	display: flex;
	flex-direction: column;
}

@media (max-width: 1000px) {
	.project {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.infoProject {
		margin: 1rem 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: initial;
	}
}

@media (max-width: 1130px) {
	.projectWrapper {
		padding: 0.5rem 0.5rem;
	}

	.imgProjectWrapper {
		padding: 0;
	}
}
