.mainskillsWrapper {
	display: grid;
	grid-template-columns: repeat(3, 180px);
	grid-template-rows: repeat(3, 120px);
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.logo:hover {
	transform: scale(1.05);
}

.logo {
	transition: all 0.3s ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	padding: 30px;
}

.logo-white {
	background-color: rgba(139, 145, 139, 0.1);
	border: 1px solid rgba(139, 145, 139, 0.3);
}

.logo-dark {
	background-color: rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(0, 0, 0, 0.3);
}

@media (max-width: 900px) {
	.mainskillsWrapper {
		grid-template-columns: repeat(2, 180px);
		grid-template-rows: repeat(2, 120px);
	}
}

@media (max-width: 600px) {
	.mainskillsWrapper {
		grid-template-columns: repeat(1, 180px);
		grid-template-rows: repeat(1, 120px);
		margin-top: 2rem;
	}
}
